In [9]:
# Reading the CSV file
import pandas as pd

acc_players = pd.read_csv('C:/Users/Use This Account/Downloads/acc_players-2324F.csv', sep=',', encoding='latin1',skiprows=1)
acc_players.head()

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

In [13]:
# Basic Analysis
total_points=acc_players["PTS"].sum()
print(total_points)

38411

In [17]:
most_minutes = acc_players.loc[acc_players['MP'].idxmax()]
print(most_minutes)

Rk                  136
Player    Casey Morsell
Class                SR
Pos                   G
School         NC State
G                    41
MP                 1333
TRB                 114
AST                  67
STL                  46
BLK                  19
TOV                  38
PF                   86
PTS                 455
FG%               0.406
2P%               0.478
3P%                0.27
FT%               0.806
PER                13.4
WS                  3.2
BPM                 2.5
Name: 135, dtype: object

In [19]:
top5 = acc_players.nlargest(5, "TRB")
print(top5)

      Rk           Player Class Pos          School   G    MP  TRB  AST  STL  \
5      6    Armando Bacot    SR   F  North Carolina  37  1123  380   56   22
178  179  Ian Schieffelin    JR   F         Clemson  36   989  340   80   21
90    91  Harrison Ingram    SO   F  North Carolina  37  1213  327   80   51
44    45   Mohamed Diarra    SR   F        NC State  40   882  311   24   28
149  150    Norchad Omier    JR   F      Miami (FL)  31   948  309   38   47

     ...  TOV   PF  PTS    FG%    2P%    3P%    FT%   PER   WS  BPM
5    ...   60  100  538  0.540  0.544  0.400  0.781  24.6  6.1  8.9
178  ...   45   95  365  0.564  0.588  0.469  0.731  22.5  4.9  8.8
90   ...   51   71  451  0.430  0.467  0.385  0.612  18.3  4.9  8.5
44   ...   26   66  253  0.477  0.568  0.309  0.658  18.9  3.4  6.2
149  ...   72   91  528  0.552  0.598  0.353  0.750  26.8  4.7  6.6

[5 rows x 21 columns]

In [20]:
# Player filtering
new_data_frame = acc_players[acc_players["MP"] > 500]

In [23]:
most_ast = new_data_frame.loc[new_data_frame['AST'].idxmax()]
print(most_ast)

Rk                    8
Player    Reece Beekman
Class                SR
Pos                   G
School         Virginia
G                    34
MP                 1114
TRB                 124
AST                 212
STL                  68
BLK                  17
TOV                  70
PF                   43
PTS                 486
FG%               0.443
2P%               0.487
3P%                0.31
FT%               0.754
PER                23.4
WS                  4.9
BPM                10.5
Name: 7, dtype: object

In [24]:
top_ast = new_data_frame.nlargest(3, "AST")
print(top_ast)

      Rk          Player Class Pos          School   G    MP  TRB  AST  STL  \
7      8   Reece Beekman    SR   G        Virginia  34  1114  124  212   68
215  216  Jaeden Zackery    JR   G  Boston College  36  1216  119  152   63
21    22   Elliot Cadeau    FR   G  North Carolina  37   882   81  150   29

     ...  TOV  PF  PTS    FG%    2P%    3P%    FT%   PER   WS   BPM
7    ...   70  43  486  0.443  0.487  0.310  0.754  23.4  4.9  10.5
215  ...   71  78  408  0.484  0.511  0.405  0.824  16.4  3.7   3.5
21   ...   67  84  271  0.417  0.481  0.189  0.648  11.7  2.1   1.8

[3 rows x 21 columns]

In [25]:
top_blk = new_data_frame.nlargest(3, "BLK")
print(top_blk)

      Rk         Player Class Pos          School   G    MP  TRB  AST  STL  \
51    52      Ryan Dunn    SO   G        Virginia  34   935  235   26   44
157  158   Quinten Post    SR   F  Boston College  35  1115  284  100   30
5      6  Armando Bacot    SR   F  North Carolina  37  1123  380   56   22

     ...  TOV   PF  PTS    FG%    2P%    3P%    FT%   PER   WS  BPM
51   ...   28   70  276  0.548  0.618  0.200  0.532  22.0  4.2  7.2
157  ...   86  100  595  0.514  0.544  0.431  0.821  25.6  5.1  9.6
5    ...   60  100  538  0.540  0.544  0.400  0.781  24.6  6.1  8.9

[3 rows x 21 columns]

In [26]:
# School-based analysis

In [28]:
school_points = acc_players.groupby("School")["PTS"].sum()
print(school_points)

School
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: PTS, dtype: int64

In [29]:
school_ast = acc_players.groupby("School")["AST"].sum()
print(school_ast)

School
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: AST, dtype: int64

In [31]:
school_points.sort_values(ascending=False).head(3)

School
NC State          3101
North Carolina    3032
Duke              2830
Name: PTS, dtype: int64

In [ ]:
#Reflection
# In this assignment, I learned and worked a lot with handling data. Earlier in this course, the topics were mainly
# focused on how databases can be structured and how to locate specific data you might need. In this assignment, we were
# also locating specific data, but while this was occurring, the data we were working with was being paired down to only the
# parts that we were strictly interested in. This could be very useful for projects since it can be difficult working with large
# datasets. It is in everyoneâ€™s best interest to make things as easy and simple as possible. 

# The most challenging part of this assignment was that I was not used to coding in Python. It was especially confusing because
# I have been using R recently and the two languages have a lot of overlap. There were many times when I was confused why an
# error was being thrown and the error was because the code I was writing was meant for R. Once I realized my mistake, it was
# simple to correct it. In addition, anything that I could not remember clearly from Python, there were plenty of free resources
# for me to figure out how to execute what I wanted in the code.

# Getting a view of these statistics on this dataset can also be done to all datasets with sports data. This information can be
# very important to sports teams and their coaching staff. It is their job to be informed about their players and their
# opponents. To understand how to improve, you first have to understand what you need to improve on. This idea applies to all
# fields, including business and healthcare, which means handling data like this can be helpful in many different areas. Even
# though this assignment was about athletes, we can apply this to our work in the future, no matter the topic.